body {
    font-family: "Trebuchet MS";
    background-color: black;
}

div#readout {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    color: #ffffff;
    cursor: default;
    background-color: #00000077;
}

div#instructions {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30em;
    padding: 0.5em;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2.5em;
    color: #ffffff;
    cursor: default;
    background-color: #00000077;
    border-radius: 10px;
}

span.key {
    border: 1px solid white;
    background-color: #ffffff33;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.2em;
}

span.spacer {
    display: inline-block;
    width: 6em;
    height: 1.5em;
}